ENVIRONMENT=local

#DOCKER
# linux 1000/0(root), mac 501
USER_ID=1000
COMPOSE_PATH_SEPARATOR=,
COMPOSE_FILE=docker-compose.yml,docker-compose.prod.yml
FRONTEND_HOST=https://listodo.ru
BACKEND_HOST=https://app.listodo.ru
# url, который будет проводить oauth-авторизацию
EXTERNAL_OAUTH_FULL_URL=https://ngrok.io

#PORTS
NGINX_FRONTEND_HOST_PORT=80
NGINX_BACKEND_HOST_PORT=81

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=todouser
POSTGRES_PASSWORD=vbi3478f
POSTGRES_DB=todolist

# MongoDB
MONGO_USER=root
MONGO_PASSWORD=example
MONGO_DATABASE=tasks
