listen              80;
listen              443 ssl;
keepalive_timeout   70;

ssl_certificate         /etc/letsencrypt/live/listodo.ru/fullchain.pem;
ssl_certificate_key     /etc/letsencrypt/live/listodo.ru/privkey.pem;
ssl_trusted_certificate /etc/letsencrypt/live/listodo.ru/chain.pem;

ssl_ciphers         EECDH:+AES256:-3DES:RSA+AES:RSA+3DES:!NULL:!RC4;

add_header          Strict-Transport-Security "max-age=31536000";
ssl_protocols       TLSv1.2 TLSv1.3;

ssl_session_cache   shared:SSL:10m;
ssl_session_timeout 10m;
