listen              80;
listen              443 ssl;
keepalive_timeout   70;

ssl_certificate         /etc/letsencrypt/live/listodo.ru/fullchain.pem;
ssl_certificate_key     /etc/letsencrypt/live/listodo.ru/privkey.pem;
ssl_trusted_certificate /etc/letsencrypt/live/listodo.ru/chain.pem;

ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS";

add_header          Strict-Transport-Security "max-age=31536000";
ssl_protocols       TLSv1.2 TLSv1.3;

ssl_session_cache   shared:SSL:10m;
ssl_session_timeout 10m;

# https://habr.com/ru/post/195808/ Настройки nginx`а об ssl

ssl_prefer_server_ciphers on;
ssl_stapling on;
