@keyframes slideInFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromFromLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(20px);
    opacity: 0;
  }
}

@keyframes shaker {
  from,
  to {
    transform: none
  }
  25% {transform: rotate(+1deg)}
  50% {transform: rotate(-.7deg)}
  75% {transform: rotate(.4deg)}
}
