.contenteditable {
  margin: 20px 0;

  .contenteditable--controls {
    display: flex;
    margin: 5px 10px;

    .control {
      display: flex;
      align-items: center;
      margin-right: 5px;
      padding-right: 5px;
      border-right: 1px solid $colorDark;

      .control-img {
        width: 20px;
        max-height: 20px;
        padding: 0 25px;
      }

      .control-text {
        display: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }

  .contenteditable--message {
    min-height: 100px;
  }
}

.placeholder:empty::before {
  //content: "Текст обращения...";
  content: attr(aria-placeholder);
  color: #a9a9a9;
}

.placeholder:empty:focus::before {
  content: "";
}
