@import "variables";
@import "Common/animations";
@import "Common/btn";
@import "Common/contenteditable";
@import "Common/labels";
@import "List/item";
@import "Task/label";
@import "Components/popup-notices";
@import "Components/search";
@import "Layout/control-buttons";
@import "Layout/top-menu";


body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

input, textarea {
  &:focus, &:focus-visible, &:focus-within, &:hover, &:target {
    outline-width: 0;
  }
}

.top {
  height: 70px;
}

.bottom {
  height: 80px;
}
