@import "variables";
@import "Collections/collections";
@import "Collections/collections-link";
@import "Common/animations";
@import "Common/btn";
@import "Common/contenteditable";
@import "Common/icons";
@import "Common/input";
@import "Common/labels";
@import "List/item";
@import "List/list";
@import "List/nested";
@import "Task/item-menu";
@import "Task/item-status-bar";
@import "Task/label";
@import "Components/popup-notices";
@import "Components/search";
@import "Layout/control-buttons";
@import "Layout/top-menu";
@import "User/oauth";


body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

input, textarea {
  &:focus, &:focus-visible, &:focus-within, &:hover, &:target {
    outline-width: 0;
  }
}

.bottom {
  height: 80px;
}
