@import "variables";
@import "Common/btn";
@import "List/item";
@import "Task/label";


body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

input, textarea {
  &:focus, &:focus-visible, &:focus-within, &:hover, &:target {
    outline-width: 0;
  }
}

.bottom {
  height: 80px;
}
