@import "../variables";

.item {
  border-top: 1px solid $colorDark;
  //background-color: rgba(250, 250, 0, 0.15);
  transition: .1s;
  margin: 0 0 -1px 0;

  $itemHeight: 70px;

  .item--content {
    display: flex;
    height: $itemHeight;
    align-items: center;
    justify-content: space-between;

    .item--handle {
      width: 40px;
      height: 80%;
      border-right: 1px solid $colorDark;
      text-align: center;
      cursor: move;
      display: flex;
      justify-content: center;
      align-items: center;

      .handle--bg {
        display: block;
        height: 20px;
        width: 20px;
        background-size: 20px;
      }

      img {
        width: 20px;
        margin-top: 9px;
      }
    }

    .item--name {
      margin: 10px;
      width: 70%;

      a {
          text-decoration: none;
          color: inherit;
      }
    }

    .item--time-block {
      display: flex;
      margin-top: 10px;
    }

    .time-block--date, .time-block--time {
      display: flex;
      align-content: center;

      &:first-child {
        margin-right: 15px;
      }
    }

    .item--labels {
      width: 20%;
      height: 100%;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;

      .label {
        margin-top: 5px;
        padding: 0;
        color: $colorWhite;
        border-radius: 2px;
        width: 30px;
        height: 5px;

        .label-name {
          display: none;
        }
      }
    }
  }

  .item--buttons {
    display: flex;
    height: $itemHeight;
    align-items: center;
    justify-content: space-between;

    .btn {
      height: 35px;
      position: relative;
      margin: 0;
      padding: 0 10px;
      text-align: center;

      img {
        max-height: 80%;
        max-width: 20px;
      }
      .btn--title {
        display: block;
      }
    }
  }

  .item--edit {
    display: flex;
    align-items: stretch;
    position: relative;
    margin: 5px;

    .edit--message {
      width: 100%;
    }

    .item--labels {

      .labels-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .label {
          display: inline-block;
          border-radius: 3px;
          margin-bottom: 5px;

          .label-name {
            margin: 5px;
          }
        }
      }

      .label-text-input {
        border-radius: 5px;
        border: 2px solid $colorDark;
      }

      .label-colors {
        display: flex;
        flex-wrap: wrap;

        .color {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 10px;

          &:hover{
            box-shadow: 0 0 10px var(--label-color-shadow);
          }
        }
      }
    }
  }

  .btn {
    display: inline-block;
    margin: 0 5px;
  }

  &.updated {
    background-color: rgba(30, 30, 30, 0.15);
  }

  &__chosen {
    animation: shaker .5s ease-in-out;
  }

  &__drag {
    display: none;
  }

  @media screen and (min-width: 700px) {
    &.hover {
      transition: .1s;
      box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
      margin-left: -1px;
      margin-right: 0;
    }
  }

  .nested {
    text-align: center;
    margin-left: 20px;
  }
}


.btn-icon {
  cursor: pointer;
  max-height: 20px;
  width: 20px;
}
.close-btn {
  .btn-icon {
    transform: rotate(45deg);
  }
}

@keyframes shaker {
  from,
  to {
    transform: none
  }
  25% {transform: rotate(+1deg)}
  50% {transform: rotate(-.7deg)}
  75% {transform: rotate(.4deg)}
}
