.control-buttons {
  display: flex;
  list-style-type: none;
  justify-content: center;
  position: fixed;
  padding: 5px 0 5px 0;
  margin: 0;
  bottom: -1px;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  border-top: 1px solid #2c3e50;

  .control {
    display: block;
    width: 32%;

    .control--link {
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;

      &__active {
        background: $colorDark;
      }

      .link--icon {
        height: 30px;
        margin-top: 7px;
      }

      .link--name {
        display: none;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
